<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>品牌历史</title>
    <link rel="stylesheet" href="../css/common.css">
</head>
<body>
    <div class="w-100 d-flex justify-content-center mt-30">
        <div>
            <h1><span>品牌历史</span><span class="mx-20">|</span><span>Brand</span></h1>
        </div>
    </div>
    <div class="nav_panning">
        <div class="mynav">
            <div>
                <ul>
                    <li><a href="#" class="active"><span>品牌历史</span><span class="brand_seperator">丨</span><span>Brand</span></a></li>
                    <li><a href="#"><span>团队</span><span class="brand_seperator">丨</span><span>team</span></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="w-primary">
        <img src="../images/brand/brand_1.jpg" class="brand_img" alt="">
    </div>
    <iframe id="footerFrame" src="footer.html" frameborder="0" scrolling="no"></iframe>
</body>
</html>
