<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>好百年主页</title>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <link rel="stylesheet" href="../css/common.css">
    <script src="../My97DatePicker/WdatePicker.js"></script>
</head>
<script>
    function setHeight() {
        let mainFrame = document.getElementById('mainFrame');
        mainFrame.style.height = 'auto';
        let height = mainFrame.contentDocument.documentElement.scrollHeight;
        mainFrame.style.height = height + 'px';
    }
    function openModelWithHtml(html,title,callback,confirm = '确认',cancel = '取消') {
        document.body.style.overflow = 'hidden';
        document.getElementById('mymodel').className += ' visible';
        var model = document.getElementById('model_content');
        model.previousElementSibling.children[0].innerHTML = title;
        model.innerHTML = html;
        var div = document.createElement('div');
        var confirmbtn = document.createElement('button');
        confirmbtn.innerHTML = confirm;
        confirmbtn.type = 'button';
        confirmbtn.className = 'model_btn confirm';
        div.appendChild(confirmbtn);
        confirmbtn.onclick = function () {
            if (callback) {
                callback(getObjFromFormData(modelForm));
            }
            closModel();
        }
        if (cancel) {
            var cancelbtn = document.createElement('button');
            cancelbtn.innerHTML = cancel;
            cancelbtn.type = 'button';
            cancelbtn.className = 'model_btn cancel';
            div.appendChild(cancelbtn);
            cancelbtn.onclick = function () {
                closModel();
            }
        }
        div.className = 'join_form footer';
        model.appendChild(div);
    }
    function closModel() {
        var model = document.getElementById('mymodel');
        model.className = model.className.replace('visible','').trim();
        document.body.style.overflow = 'auto';
    }
    function getObjFromFormData(formData) {
        var obj = {}
        for (var i = 0; i < formData.length; i++) {
            if (formData[i].name) {
                if (formData[i].type == 'radio') {
                    if (formData[i].checked) {
                        obj[formData[i].name] = formData[i].value;
                    }
                } else if (formData[i].type == 'checkbox') {
                    if (formData[i].checked) {
                        if (obj[formData[i].name]) {
                            obj[formData[i].name].push(formData[i].value);
                        } else {
                            obj[formData[i].name] = [formData[i].value];
                        }
                    }
                } else {
                    obj[formData[i].name] = formData[i].value;
                }
            }
        }
        return obj;
    }
    window.onload = function () {
        let navs = document.getElementById('containerNav').children;
        for (let nav of navs) {
            nav.onclick = function () {
                if (!this.children[0].className.indexOf('active') > -1) {
                    document.getElementById('mainFrame').src = this.dataset.link;
                    let active = this.parentElement.querySelector('li>a.active');
                    active.className = active.className.replace('active','');
                    this.children[0].className = this.children[0].className + ' active';
                }
            }
        }
        document.getElementById('mymodel').onclick = function (e) {
            if (e.target.id == 'mymodel') {
                this.className = this.className.replace('visible','').trim();
                document.body.style.overflow = 'auto';
            }
        }
        document.querySelector('.model_title .close').onclick = closModel;
    }
</script>
<body>
<div class="myside">
    <div class="common"><img src="../images/index/qq.png" alt=""><span>QQ客服</span></div>
    <div class="common"><img src="../images/index/dialog.png" alt=""><span>在线咨询</span></div>
    <div class="common"><img src="../images/index/tel.png" alt=""><span>0755-96354187</span></div>
    <div class="common"><img src="../images/index/vx.png" alt=""><span>微信客服</span></div>
    <div><a href="#index_top"><img src="../images/index/totop.png" alt=""></a></div>
</div>
<!--顶部 start-->
<div class="w-100 mytop">
    <div class="w-100 d-flex justify-content-center">
        <div>
            <img src="../images/index/logo.jpg" style="width: 10rem;" alt="">
        </div>
    </div>
    <div class="w-100 d-flex justify-content-center">
        <div class="mynav">
            <ul id="containerNav">
                <li data-link="index.html"><a href="#" class="active"><span>首页</span></a></li>
                <li data-link="cases.html"><a href="#"><span>婚礼案例</span><span class="seperator">|</span><span>Cases</span></a></li>
                <li data-link="planning.html"><a href="#"><span>活动策划</span><span class="seperator">|</span><span>Event Planning</span></a></li>
                <li data-link="brand.html"><a href="#"><span>品牌历史</span><span class="seperator">|</span><span>Brand</span></a></li>
                <li data-link="news.html"><a href="#"><span>婚礼锦囊</span><span class="seperator">|</span><sspan>News</sspan></a></li>
                <li data-link="contact.html"><a href="#"><span>联系我们</span><span class="seperator">|</span><span>Contact</span></a></li>
            </ul>
        </div>
    </div>
</div>
<div class="topZbottom" id="index_top"></div>
<iframe id="mainFrame" src="index.html" onload="setHeight();"></iframe>
<form action="" name="modelForm" id="modelForm">
    <div class="model" id="mymodel">
        <div class="model_form" >
            <div class="model_title">
                <div>title</div>
                <div class="close">X</div>
            </div>
            <div id="model_content"></div>
        </div>
    </div>
</form>
</body>
</html>
