<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我们的团队</title>
    <link rel="stylesheet" href="../css/common.css">
</head>
<body>
    <div class="w-100 d-flex justify-content-center mt-30">
        <div>
            <h1><span>联系我们</span><span class="mx-20">|</span><span>Contact</span></h1>
        </div>
    </div>
    <div class="nav_panning">
        <div class="mynav">
            <div>
                <ul>
                    <li><a href="#" class="active"><span>联系我们</span><span class="brand_seperator">丨</span><span>Contact</span></a></li>
                    <li><a href="infomation.html">在线预约</a></li>
                    <li><a href="join.html">加入我们</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="w-primary d-flex">
        <div class="w-50">
            <img src="../images/contact/address.jpg" class="w-100" alt="">
        </div>
        <div class="w-50 d-flex align-items-center">
            <div class="contact_info">
                <p><strong>好百年婚礼策划中心</strong></p>
                <p>地址：<span>深圳南山华侨城方大城2#806</span></p>
                <p>客服电话：<a href="#" title="深圳婚庆公司">0755-83205639</a></p>
                <p>人事电话：<a href="#" title="深圳婚庆公司">0755-23990193</a></p>
                <p>婚礼供应商请加微信：<span>IAM_HUN</span></p>
                <p>E-mail：<span>hbn_hr1@126.com</span></p>
            </div>
        </div>
    </div>
    <iframe id="footerFrame" src="footer.html" frameborder="0" scrolling="no"></iframe>
</body>
</html>
