<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>备婚攻略</title>
    <link rel="stylesheet" href="../css/common.css">
</head>
<body>
<div class="w-100 d-flex justify-content-center mt-30">
    <div>
        <h1><span>婚礼锦囊</span><span class="mx-20">|</span><span>News</span></h1>
    </div>
</div>
<div class="w-primary d-flex">
    <div class="w-75 news_content_l">
        <div class="w-100 news_content">
            <div style="border-bottom: 1px solid rgba(240,240,240,0.5);">
                <h1>2019年挑一个“良辰吉日”，嫁给你！</h1>
                <p>2018-10-12 好百年婚礼策划中心 <img src="../images/common/eye.png" class="news_eye" alt=""> 221</p>
            </div>
            <div style="text-align: center">
                <img src="../images/news/news_detail_1.gif" alt="">
                <p>自古以来中国嫁娶总讲究个“吉时”</p>
                <p>  挑选一个”好日子“并不简单</p>
                <p> 需要考虑到生辰八字、天时地利、传统避讳</p>
                <p>还要看亲朋档期，婚礼安排等等</p>
                <p> 2019年又将是一个新的开端</p>
                <p> 金猪己亥年，有瑞祥之兆</p>
                <p> 是一个千年难得的吉祥之年</p>
                <p> 这一年的365天定日子的新人们</p>
                <p> 需得抓紧，需得讲究</p>
                <p>一日之计在于晨</p>
                <p>一年之”吉日“趁早选</p>
                <p>今天小百特意为大家罗列整理了</p>
                <p>2019金猪年各个月份的“最佳吉日”</p>
                <p>还未定日子的小主们</p>
                <p>赶紧MARK起来哦~</p>
                <img src="../images/news/news_detail_2.jpeg" alt="">
                <p><strong>属相择日</strong></p>
                <p>老话说无春之年不结婚，我们从生肖属相来看，民间婚嫁中男女会考虑到生辰八字与属相生肖，如男方结婚：子年禁蛇相，丑年禁马相，寅年禁羊相，卯年禁猴相，辰年禁鸡相，巳年禁狗相，午年禁猪相，未年禁鼠相。女方出嫁：子年忌兔相，丑年忌虎相，寅年忌牛相，卯年忌鼠相。就是说属蛇的男子鼠年忌婚，属兔的女子鼠年忌嫁的意思……</p>
                <p><strong>生辰择日</strong></p>
                <p>一年三百六十五天，任何一日，本没有绝对的吉凶，因为任何一日在世界范围内，肯定会有好事发生，也有坏事发生，没有任何一日是全部发生好事的，也没有任何一日是全部发生坏事的，这就是说，结婚日期是吉还是凶要根据每一对未婚男女的生辰八字来定夺，也就是说，选择吉日就是拿出结婚男女双方的出生时间，并据此选择一个有利于双方恩爱的结婚日期。</p>
                <img src="../images/news/news_detail_3.jpeg" alt="">
                <p>2019年一年份的“良辰吉日”已经打包完毕</p>
                <p>各位新人小主们选择好了日子</p>
                <p>就要着手挑选自己的婚礼了哦~</p>
            </div>
            <div class="news_detail_page">
                <a href="#">上一页: 没有了</a>
                <a href="#">下一页: 没有什么能阻止我们在一起，语言障碍也不可以 | 真实婚礼</a>
            </div>
        </div>
    </div>
    <div class="w-25">
        <div class="news_side">
            <div class="side_item">
                <div class="search">
                    <input type="text" placeholder="search" class="round">
                    <img src="../images/common/search.png" class="search_icon" alt="">
                </div>
            </div>
            <div class="side_item">
                <ul class="side_links">
                    <li><a href="#"><span>婚礼锦囊</span><span class="seperator">|</span><span>News</span></a></li>
                    <li class="active"class="active"><a href="#">备婚攻略</a></li>
                    <li><a href="#">优惠活动</a></li>
                    <li><a href="#">企业动态</a></li>
                </ul>
            </div>
            <div class="side_item">
                <h4>为您推荐</h4>
                <div class="side_recom">
                    <div>
                        <a href="#" title="2019年挑一个“良辰吉日”，嫁给你！">2019年挑一个“良辰吉日”，嫁给你！</a>
                    </div>
                    <div>
                        <a href="#" title="没有什么能阻止我们在一起，语言障碍也不可以 | 真实婚礼">没有什么能阻止我们在一起，语言障碍也不可以 | 真实婚礼</a>
                    </div>
                    <div>
                        <a href="#" title="看完这7个小技巧，婚礼誓言信手拈来">看完这7个小技巧，婚礼誓言信手拈来</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<iframe id="footerFrame" src="footer.html" frameborder="0" scrolling="no"></iframe>
</body>
</html>
