<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>详情</title>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <link rel="stylesheet" href="../css/common.css">
</head>
<body>
<div class="w-100 d-flex justify-content-center mt-30">
    <div>
        <h1><span>婚礼案例</span><span class="mx-20">|</span><span>Cases</span></h1>
    </div>
</div>
<div class="w-primary d-flex">
    <div class="w-50">
        <img src="../images/case/case_1.jpg" class="w-100" alt="">
    </div>
    <div class="w-50 case_desc">
        <h2>守望</h2>
        <p>不知不觉，年轮划过十年。那些一路越过的岁月。有人引我前进，有人护我周全。 我甘愿十年不变，是因为你们同在。或安心，或温暖。如同家人，此生不变。</p>
        <div class="w-100">
            <ul>
                <li>婚期： 2018.9.21</li>
                <li>酒店： 四季酒店</li>
                <li class="mt-10">类型： 宴会厅婚礼</li>
                <li class="mt-10">色系： 黄色,白色</li>
            </ul>
        </div>
    </div>
</div>
<div class="w-primary d-flex">
    <div class="w-25 recom">
        <h3>为您推荐</h3>
        <div class="mt-30">
            <figure>
                <img src="../images/case/case_1.jpg" class="w-100" alt="">
                <figcaption class="text-center mt-10">
                    守望
                </figcaption>
            </figure>
        </div>
        <div class="mt-30">
            <figure>
                <img src="../images/case/case_2.jpg" class="w-100" alt="">
                <figcaption class="text-center mt-10">
                    迷堡
                </figcaption>
            </figure>
        </div>
        <div class="mt-30">
            <figure>
                <img src="../images/case/case_3.jpg" class="w-100" alt="">
                <figcaption class="text-center mt-10">
                    城堡密语
                </figcaption>
            </figure>
        </div>
    </div>
    <div class="w-75">
        <div class="w-100 d-flex">
            <div class="detail-title">案例详情</div>
            <div></div>
        </div>
        <div>
            <div class="mt-30"><img src="../images/case/detail_1.jpg" class="w-100" alt=""></div>
            <div class="mt-10"><img src="../images/case/detail_2.jpg" class="w-100" alt=""></div>
            <div class="mt-10"><img src="../images/case/detail_3.jpg" class="w-100" alt=""></div>
        </div>
        <div class="detail_line"></div>
    </div>
</div>
<iframe id="footerFrame" src="footer.html" frameborder="0" scrolling="no"></iframe>
</body>
</html>
