<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>获取报价</title>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <link rel="stylesheet" href="../css/common.css">
</head>
<body>
<!--获取报价 start-->
<div class="w-primary mt-30">
    <div class="d-flex justify-content-center">
        <div class="block_title">
            <span class="cn">获取报价</span>
        </div>
    </div>
    <div class="desc font_small mt-30 text-center">传递幸福 Transfering Happiness</div>
    <div class="w-100 d-flex mt-30">
        <div class="w-75 d-flex priceinfo">
            <div class="w-100 p-15">
                <div>
                    <input type="text" class="w-100 light" placeholder="姓名">
                </div>
                <div>
                    <input type="text" class="w-100 light mt-10" placeholder="Email">
                </div>
                <div>
                    <select class="w-100 light mt-10">
                        <option>婚礼预算</option>
                    </select>
                </div>
                <div>
                    <input type="button" class="w-100 mt-10 light" value="提交">
                </div>
            </div>
            <div class="w-100 p-15">
                <div>
                    <input type="text" class="w-100 light" placeholder="联系方式">
                </div>
                <div>
                    <input type="text" class="w-100 light mt-10" placeholder="婚礼日期">
                </div>
                <div style="position: relative">
                    <select class="w-100 light mt-10">
                        <option>婚礼或宴会风格</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="w-25">
            <img src="../images/index/code2d.jpg" class="w-100 mt-10" alt="">
            <h4 class="mt-10 text-right">咨询服务热线：<b>0755-83205639</b></h4>
            <p class="mt-10 text-right">服务时间：9:00am-6:00pm</p>
        </div>
    </div>
    <div class="w-100 mt-3 d-flex">
        <div class="friend_link">友情链接：</div>
        <ul>
            <li class="mx-3"><a href="#" class="friend_link">黎贝拉国际名品婚纱礼服</a></li>
            <li class="mx-3"><a href="#" class="friend_link">婚礼策划</a></li>
            <li class="mx-3"><a href="#" class="friend_link">婚宴酒店预订</a></li>
            <li class="mx-3"><a href="#" class="friend_link">深圳结婚网</a></li>
            <li class="mx-3"><a href="#" class="friend_link">深圳婚庆公司</a></li>
            <li class="mx-3"><a href="#" class="friend_link">成都演艺公司</a></li>
            <li class="mx-3"><a href="#" class="friend_link">南阳婚纱摄影</a></li>
            <li class="mx-3"><a href="#" class="friend_link">重庆婚宴</a></li>
        </ul>
    </div>
</div>
<div class="footer_border mt-10"></div>
<div class="text-center p-15 font_small">
    深圳市好百年婚庆礼仪策划有限公司 版权所有 2008-2018<a href="#" class="footer_link">粤ICP备16113608号-2</a>地址：深圳市南山区华侨城方大城2号楼806
</div>
<!--获取报价 end-->
</body>
</html>
