<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>在线预约</title>
    <link rel="stylesheet" href="../css/common.css">
</head>
<body>
    <div class="w-primary d-flex justify-content-center">
        <div>
            <h1>在线预约</h1>
        </div>
    </div>
    <div class="w-primary">
        <div class="info_container">
            <div>
                <input type="text" class="w-100" placeholder="姓名">
            </div>
            <div>
                <input type="text" class="w-100" placeholder="联系方式">
            </div>
            <div>
                <input type="text" class="w-100" placeholder="Email">
            </div>
            <div>
                <input type="date" class="w-100" placeholder="日期">
            </div>
            <div>
                <select class="w-100">
                    <option>婚礼预算</option>
                </select>
            </div>
            <div>
                <select class="w-100">
                    <option>婚礼或宴会风格</option>
                </select>
            </div>
            <div>
                <button>提交</button>
            </div>
        </div>
    </div>
    <iframe id="footerFrame" src="footer.html" frameborder="0" scrolling="no"></iframe>
</body>
</html>
