<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>婚礼锦囊</title>
    <link rel="stylesheet" href="../css/common.css">
</head>
<body>
    <div class="w-100 d-flex justify-content-center mt-30">
        <div>
            <h1><span>婚礼锦囊</span><span class="mx-20">|</span><span>News</span></h1>
        </div>
    </div>
    <div class="nav_panning">
        <div class="mynav">
            <div>
                <ul>
                    <li><a href="#" class="active">全部</a></li>
                    <li><a href="#">备婚攻略</a></li>
                    <li><a href="#">优惠活动</a></li>
                    <li><a href="#">企业动态</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="w-primary d-flex">
        <div class="w-75 news_content_l">
            <ul class="w-100 news_container">
                <li>
                    <div class="w-100 d-flex">
                        <div>
                            <img src="../images/news/news_1.jpg" class="news_img" alt="">
                        </div>
                        <div style="margin-left: 20px">
                            <h4><a href="detail-news.html">2019年挑一个“良辰吉日”，嫁给你！</a></h4>
                            <p class="font_small desc mt-10">自古以来中国嫁娶总讲究个“吉时”挑选一个”好日子“并不简单需要考虑到生辰八字、天时地利、传统避讳还要看亲朋档期，婚礼安排等等2019年又将是一个新的开端金猪己亥年，有瑞祥之兆是一个千年难得的吉祥之年这一年的365天定日子的新人们需得抓紧，需得讲究一日之计在于晨一年之”吉日“趁早选今天小百特意为大家罗列整理了2019金猪年各个月份的“最佳吉日”还未定日子的小主们赶紧MARK起来哦~择吉日之前我们需得</p>
                            <p class="mt-10"><span>2018-10-12</span><span>好百年婚礼策划中心</span><img src="../images/common/eye.png" class="news_eye" alt=""></span><span>218</span></p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="w-100 d-flex">
                        <div>
                            <img src="../images/news/news_1.jpg" class="news_img" alt="">
                        </div>
                        <div style="margin-left: 20px">
                            <h4><a href="detail-news.html">2019年挑一个“良辰吉日”，嫁给你！</a></h4>
                            <p class="font_small desc mt-10">自古以来中国嫁娶总讲究个“吉时”挑选一个”好日子“并不简单需要考虑到生辰八字、天时地利、传统避讳还要看亲朋档期，婚礼安排等等2019年又将是一个新的开端金猪己亥年，有瑞祥之兆是一个千年难得的吉祥之年这一年的365天定日子的新人们需得抓紧，需得讲究一日之计在于晨一年之”吉日“趁早选今天小百特意为大家罗列整理了2019金猪年各个月份的“最佳吉日”还未定日子的小主们赶紧MARK起来哦~择吉日之前我们需得</p>
                            <p class="mt-10"><span>2018-10-12</span><span>好百年婚礼策划中心</span><span><img src="../images/common/eye.png" class="news_eye" alt=""></span><span>218</span></p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="w-25">
            <div class="news_side">
                <div class="side_item">
                    <div class="search">
                        <input type="text" placeholder="search">
                        <img src="../images/common/search.png" class="search_icon" alt="">
                    </div>
                </div>
                <div class="side_item">
                    <ul class="side_links">
                        <li class="active"><a href="#"><span>婚礼锦囊</span><span class="seperator">|</span><span>News</span></a></li>
                        <li><a href="#">备婚攻略</a></li>
                        <li><a href="#">优惠活动</a></li>
                        <li><a href="#">企业动态</a></li>
                    </ul>
                </div>
                <div class="side_item">
                    <h4>为您推荐</h4>
                    <div class="side_recom">
                        <div>
                            <a href="#" title="2019年挑一个“良辰吉日”，嫁给你！">2019年挑一个“良辰吉日”，嫁给你！</a>
                        </div>
                        <div>
                            <a href="#" title="没有什么能阻止我们在一起，语言障碍也不可以 | 真实婚礼">没有什么能阻止我们在一起，语言障碍也不可以 | 真实婚礼</a>
                        </div>
                        <div>
                            <a href="#" title="看完这7个小技巧，婚礼誓言信手拈来">看完这7个小技巧，婚礼誓言信手拈来</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <iframe id="footerFrame" src="footer.html" frameborder="0" scrolling="no"></iframe>
</body>
</html>
